.h1-1 {
	font-size: 30px;
	float: left;
	width: 300px;
	margin-left: 160px;
}
.button1 {
	color: #fff;
	background-color: #000;
	font-size: 24px;
	float: left;
	margin: 102px 0px 0 -300px;
}
.button1:hover {
	background-color: white;
	color: black;
	border: 1px solid black;
}

.img {
	width: 300px;
	float: right;
}
.firstmaindiv {
	width: 80%;
	padding: 5%;
}
.secondmaindiv {
	margin-top: 600px;
	width: 100%
}
.smalldiv {
	width: 15%;
	background-color: #FBF9F9;
	float: left;
	margin-left: 4%;
	text-align: center;
}
.smalldiv:hover {
	background-color: black;
	font-size: 18px;
	color: white

}
.smallimg {
	width: 100px;
}
.secondp {
	margin-top: 20px;
}
.footerdiv {
	background-color: #FBF9F9;
	height: 130px;
	width: 100%;
	margin-top: 100%;
}
h2 {
	color: black;
	font-size: 30px;
	margin: 10px 0 0 20px;
}
li {
	color: grey;
	margin-top: 5px;
}
ul {
	margin: 10px 0 0 20px;
}